<phpunit 
    colors="true"
    bootstrap="vendor/autoload.php"
>

  <testsuites>
    <testsuite name="default">
      <directory>./tests</directory>
      <exclude>./tests/RealTest.php</exclude>
    </testsuite>
    <testsuite name="real">
      <file>./tests/RealTest.php</file>
    </testsuite>
  </testsuites>

  <filter>
      <whitelist>
          <directory>./</directory>
          <exclude>
              <directory>./vendor</directory>
              <directory>./tests</directory>
          </exclude>
      </whitelist>
  </filter>

</phpunit>