<phpunit 
    colors="true"
    bootstrap="vendor/autoload.php"
>

  <testsuites>
    <testsuite name="selligent">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="soap_login" value=""/>
    <env name="soap_password" value=""/>
    <env name="soap_wsdl" value=""/>
    <env name="selligent_listid" value=""/>
  </php>

</phpunit>