<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
>

  <testsuites>
    <testsuite name="default">
      <directory>./tests</directory>
      <exclude>./tests/Integrated/IndividualTest.php</exclude>
      <exclude>./tests/Integrated/BroadcastTest.php</exclude>
    </testsuite>
    <testsuite name="real">
      <file>./tests/Integrated/IndividualTest.php</file>
      <file>./tests/Integrated/BroadcastTest.php</file>
    </testsuite>
  </testsuites>

  <filter>
      <whitelist>
          <directory>./src</directory>
      </whitelist>
  </filter>

</phpunit>
